.tabla1
{ 
	position:relative;
	width:770px;
	height:675px;
	overflow:hidden;
	left: 2px;
	top: 1px;
	border:1px solid #CDCDCD;
	background-image: url(../../../images/desktop1.jpg);
}
.title1{
	position:relative;
	width:760px;
	height:20px;
	overflow:hidden;
	left: 4px;
	top: 4px;
	border:1px solid #CDCDCD;
	background:#50ADEA;
}
.mask1111{
	position:relative;
	width:760px;
	height:620px;
	overflow:hidden;
	left: 4px;
	top: 4px;
	border:1px solid #CDCDCD;
	background:#F9F9F9;
}
.mask2222{
	position:relative;
	width:754px;
	height:612px;
	overflow:hidden;
	left: 2px;
	top: 4px;
	border:1px solid #ccc;

}
.mask3333{
	position:relative;
	width:750px;
	height:608px;
	overflow:hidden;
	left: 2px;
	top: 4px;
	background:#F9F9F9;
}
